.experience {}

.experience>ul {
    list-style: none;
    padding-inline-start: 0;
    padding-left: 0;
}

.experience>ul>li {
    margin-bottom: 1rem;
}

.experience .position {
    margin-bottom: 10px;
    padding-left: 1rem;
    border-left: 5px solid rgb(255, 214, 89);
    font-size: 1.2rem;
}

.experience .company {
    color: #888;
    font-size: 1rem;
}

.zhhans .experience .company {
    font-size: 0.9rem;
}

.experience .duration {
    margin-left: 0.5rem;
}

.experience .desc {
    padding: 0.2rem 0;
}

.experience .skill {
    margin-top: 0.5rem;
    padding-left: 0;
    padding-inline-start: 0;
    color: rgb(227, 176, 74);
    list-style: none;
}


@media screen and (min-width: 800px) {
    .experience>ul>li {
        display: flex;
    } 

    .experience .position {
        margin-bottom: 0;
        padding-left: 0;
        border-left: none;
        font-size: 1.1rem;
        flex-grow: 1;
        white-space: pre;
    }

    .experience .duration {
        display: block;
        margin-left: 0rem;
    }

    .experience .desc {
        padding: 0;
        width: 570px;
    }

    .experience .points {
        padding: 0;
        width: 560px;
    }    
}

@media print {
    .experience>ul>li {
        display: flex;
    } 

    .experience .position {
        margin-bottom: 0;
        padding-left: 0;
        border-left: none;
        font-size: 1.1rem;
        flex-grow: 1;
        white-space: pre;
    }

    .experience .duration {
        display: block;
        margin-left: 0rem;
    }

    .experience .desc {
        padding: 0;
        width: 570px;
    }

    .experience .points {
        padding: 0;
        width: 560px;
    }    
}
