html,
body {
    padding: 0;
    margin: 0;

    /* background-color: rgba(241, 237, 234, 1);
    background-color: rgba(148, 148, 152, 1); */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
              Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    background-image: url(/images/chalkboard.jpg);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
