.resume {
    max-width: 800px;
    margin: auto;
    padding-bottom: 3rem;
    background-color: #fff;
}

.resume p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.resume svg {
    position: relative;
    top: 3px;
}

.resume > section {
    padding: 10px 20px;
}

.resume > section > h1 {
    margin: 0.5rem 0;
    font-weight: normal;
    letter-spacing: 2px;
}

@media screen and (min-width: 800px) {
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .resume {
        border-radius: 20px;
        overflow: hidden;
    }
}

@media print {
    .resume {
        background-color: white;
        background-blend-mode: overlay;
    } 

    .resume .hide_on_print  {
        display: none;
    }

    .resume > section {
        padding: 5px 20px;
    }
}

.skills {

}

.skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills li {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.profile .tags span {
    display: inline-block;
    color: rgb(227, 176, 74);
    margin-right: 0.5rem;
}

.profile .contactme {
    margin-top: 1rem;
}

.profile .contactme span {
    display: block;
}

.profile .contactme svg {
    margin-right: 0.5rem;
}


.edu .edu_school {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.edu .edu_department {
    margin-bottom: 0;
    color: #888;
    font-size: 1.2rem;
}

.edu .edu_duration {
    margin-bottom: 0;
    color: #888;
}

.language ul {
    margin: 0;
    padding: 0;
}

.language li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}